<div class="switch-container">
    <!-- Left Section (will switch to right on desktop, bottom on mobile): Video -->
    <div class="switch-right-section">
      <video #backgroundVideo autoplay muted loop playsinline class="switch-background-video">
        <source src="assets/videos/sord-bg.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
  
    <!-- Right Section (will switch to left on desktop, top on mobile): Logo and Text -->
    <div class="switch-left-section">
        <div class="left-wrapper">
      <a target="_blank" href="https://github.com/Usernamenotavailable12" class="switch-logo-link">
        <img src="assets/images/github-logo-2.svg" alt="Logo" class="switch-logo">
      </a>
      <p class="switch-description">My Github Repository</p>
    </div>
    </div>
  </div>
  