:root {
    --bg-color: white;
    --header-color: rgb(71, 71, 71);
    --border-color: rgb(230,230,230);
    --accent-color: #180161;
    --primary-color: #4F1787;
    --seconder-color: #EB3678;
    --contrast-color: #FB773C;
}