<div class="artwork-container">
<div class="l-container">
    <div class="b-game-card">
      <div class="b-game-card__cover" style="background-image: url(./assets/images/artwork1.png);"></div>
    </div>
    <div class="b-game-card">
      <div class="b-game-card__cover" style="background-image: url(./assets/images/artwork2.png);"></div>
    </div>
    <div class="b-game-card">
      <div class="b-game-card__cover" style="background-image: url(./assets/images/artwork3.png);"></div>
    </div>
    <div class="b-game-card">
      <div class="b-game-card__cover" style="background-image: url(./assets/images/artwork4.png);"></div>
    </div>
  </div>
</div>