<div class="outer-div-code">
    <div class="code-container">
      <input class="sig" value="// GUGULI 🐦">
      <section class="augs bg">
        <button class="dots"></button>
        <input class="title" value="ng-guguli">
        <div class="code">
          <span class="comment">// It will probably work</span><br>
          <span class="keyword invisible-space">const</span><span class="invisible-space" style="font-size: 5px; opacity: 0;">⠀</span><span class="function">frontEndSomethingGuy</span> = () => &#123;<br>
          &nbsp;&nbsp;<span class="keyword">while</span> (<span class="function">alive</span>()) &#123;<br>
          &nbsp;&nbsp;&nbsp;&nbsp;<span class="keyword">if</span> (!<span class="function">weekend</span>()) &#123;<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="function">wakeUp</span>(); <span class="function">inhaleCoffee</span>(); <span class="function">driveToWork</span>();<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="string">"simple"</span>Code(); <span class="function">debug</span>(<span class="string">"fast"</span>);<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="function">driveToHome</span>();<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="function">existentialCrisis</span>();<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="function">sleep</span>();<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&#125;<br>
          &nbsp;&nbsp;&#125;<br>
          &#125;;<br><br>
          <span class="keyword">const</span><span class="invisible-space" style="font-size: 5px; opacity: 0;">⠀</span><span class="function">alive</span> = () => <span class="string">true</span>;<br>
          <span class="keyword">const</span><span class="invisible-space" style="font-size: 5px; opacity: 0;">⠀</span><span class="function">weekend</span> = () => [<span class="number">0</span>, <span class="number">6</span>].includes(<span class="function">new</span> <span class="function">Date</span>().<span class="function">getDay</span>());<br><br>
          <span class="function">frontEndSomethingGuy</span>();
        </div>
      </section>
    </div>
  </div>
  